/* 
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 70%;
  overflow: hidden;
  background-color: white;
  font-size: 80%;

}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: #ddd;

}

li a.active {
  color: black;

} */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #f2f2f2;
}
.topnav-left {
  float: left;
}

.topnav a {
  float: right;
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* .topnav a.active {
  background-color: #04AA6D;
  color: white;
} */

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* .hero-image {
  background-image: url("https://www.apple.com/v/macbook-pro-13/j/images/overview/hero_endframe__bsza6x4fldiq_large_2x.jpg");
  background-color: #cccccc;
  height: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

} */


.hero-image {
  background-image: url("https://www.apple.com/v/macbook-pro-13/j/images/overview/hero_endframe__bsza6x4fldiq_large_2x.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* 
.hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

.hero-text {
  text-align: left;
  position: absolute;
  top: 30%;
  left: 5%;
  /* transform: translate(-50%, -50%); */
  color: white;
}

.OurSkills{
  background-color: #f1f1f1!important;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;

}
* {box-sizing: border-box}

.container {
  width: 97%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
}

.html {width: 90%; background-color: #616161!important;}
.css {width: 80%; background-color: #616161!important;}
.js {width: 65%; background-color: #616161!important;}




.pricing{
background-color: #616161!important;
padding-top: 3%;
padding-bottom: 3%;

}

* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 15%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 30px;
  width: 200px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

.contact{
  background-color: #f1f1f1!important;
  padding-top: 3%;
  padding-bottom: 4%;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit]:hover {
  background-color: black;
  color: white;
}

.icon{
	font-size:100%;
	color:grey;
	padding-top: 20%;
	padding-left: 2%;
}
.bot{
  background-color:black;
   text-align:center; 
   padding-top:4%; 
   padding-bottom: 4%;
}
.iconbot{
  color: white;
  text-align: center;
  padding-top: 1%;
}
.img{
   -webkit-filter: grayscale(80%); 
  filter: grayscale(80%);
}



